[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
html5lib = "*"
selenium = "*"
webdriver-manager = "*"
click = "*"
tabulate = "*"
jinja2 = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
